node_modules/
compiler/typescript.cjs
dist/
.jeva/
__pycache__/
editors/vscode/out/
editors/vscode/node_modules/
editors/zed/target/
editors/zed/extension.wasm
editors/zed/grammars/
artifacts/

upstream/
compiler/*.map
vendor/typescript/src/compiler/*generated*
editors/tree-sitter-jevascript/src/
editors/vscode/local-server.json
editors/vscode/README.md
editors/vscode/LICENSE.txt
editors/zed/local-server.txt
editors/zed/extension.toml
editors/zed/languages/jevascript/highlights.scm
editors/tree-sitter-jevascript/LICENSE
